{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Mecanico Rayo Makween</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body class="fondo">
    <header>
        <div class="cabezon">
            <nav>
                <label class="img1" for="menu-bar"><img src="{% static 'Img/logomcqueen.png' %}" width="95px" height="80"></label>

                <input type="checkbox" name="" id="menu-bar">
                <a href="{% url 'INDEX' %}">Inicio</a>
                <a href="{% url 'ATENCION' %}">Atencion</a>
                <a href="{% url 'CONTACTO' %}">Formulario</a>
                <a href="{% url 'REGISTRO' %}">Registro</a>
                <a href="{% url 'INICIO' %}">Iniciar Sesión</a>
                <a href="{% url 'REGITRA' %}">Registro Atencion</a>
                <a href="{% url 'LISTRA' %}">Lista de trabajos</a>
            </nav>
            <p class="buscador">
                Busqueda de Mecanico: <input type="search" name="Buscar Mecanico" placeholder="Trabajos...">
                <input type="submit" value="Buscar">
            </p>
            <div class="titulo">
                <h1>Taller Mecanico Rayo Makween </h1>
            </div>
        </div>
    </header>
    <div class="col-12">
        <p></p>
    </div>
    <div class="col-12">
        <p></p>
    </div>
    <div class="col-12">
        <p></p>
    </div>
    <div class="col-12">
        <p></p>
    </div>
    <div class="col-5">
            <table class=" table">
                <tr>
                    <th>diagnostico</th>
                    <th>nombre</th>
                    <th>fecha</th>
                    <th>materiales</th>
                    <th>categoria</th>
                    <th>imagen</th>
                </tr>
                    
            {%for x in contexto%}
                <tr>
                    <td>
                        {{x.diagnostico}}
                    </td>
                    
                    <td>
                        {{x.nombre}}
                    </td>
                        
                    <td>
                        {{x.fecha}}
                    </td>

                    <td>
                        {{x.materiales}}
                    </td>

                    <td>
                        {{x.categoria}}
                    </td>
                    <td>
                        {%if x.imagen%}
                        <img src="{{x.imagen.url}}" alt="imgnula" width="50" height="50">
                        {% endif %}
                    </td>
                    <td>
                        <button class= "btn btn-success">Aceptar</button>
                    </td>
                    <td>
                        <button class= "btn btn-danger" onclick="eliminar('{{x.nombre}}')">Rechazar</button>
                    </td>
                </tr>
            {% endfor %}
        </div>
    </div>
    <footer>
        <center>
            <div class="contenedor">
                <p> Taller Mecanico Rayo Makween </p>

            </div>
        </center>
    </footer>
</body>
{% block js %}
    <script>
        function eliminar(nombre) {
            var opcion= <textarea name="txtsuge" id="txtsuge" cols="20" rows="2"
                    placeholder="Explique por qué"></textarea>;
                if (opcion==true) {
                    location.href='/eliminar/'+nombre+'/';
                }else{
                    alert("Operación cancelada")
                    }
                }
            alert("Eliminar el trabajo "+nombre);
    </script>
<script src="{% static 'js/v.js' %}"></script>
</html>